/* 메인 컨텐츠 스타일 */
.return-main {
  padding: 20px;
  background-color: #ffffff;
  /* border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  width: 80%;
  margin: 20px auto;
}

.return-main h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.return-main h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.returnWord1 {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 40px;
}

.returnWord2 {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 70px;
}

.returnWord3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 70px;
}

.return-main p {
  color: #333333;
  margin-bottom: 20px;
}

.return-main ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #333333;
  margin-bottom: 20px;
}

.return-main table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.return-main table th,
.return-main table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.return-main table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.return-main table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.noteTelNumber {
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #013c8a;
  margin-top: 10px;
}
.faq-section {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.highlight-number-section {
  font-weight: bold;
}

.highlight-number {
  color: #ff0000; /* Set the color to blue */
}

.faq-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.faq-dropdown {
  padding: 10px;
  font-size: 16px;
  background-color: #d5d5d5c3;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.faq-search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.faq-search input {
  padding: 5px;
  font-size: 16px;
  background-color: #d5d5d5c3;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.faq-search-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  background-color: #e3e3e3c3;
}

.faq-list {
  margin-top: 20px;
}

.faq-item {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  align-content: center;
}

.faq-question {
  font-weight: bold;
  color: #333333;
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 10px; /* Add gap between items */
  font-size: 18px;
}

.faq-question .fa-question-circle {
  font-size: 40px; /* Adjust size of the question icon */
  margin-left: 20px;
  margin-right: 10px;
  color: #013c8ae0;
}

.faq-question .md-outline-arrow-drop-down-circle {
  font-size: 30px; /* Adjust size of the dropdown icon */
  margin-left: auto;
  color: #bdbdbd;
}

.faq-answer {
  margin-top: 10px;
  color: #333333;
}
