/* 헤더 스타일 */
.return-form {
  width: 100%;
}

.home-header {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 20px 45px;
}

/* 제목 스타일 */
.home-header p {
  margin: 0;
  font-size: 24px;
}

/* 버튼 컨테이너 스타일 */
.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.header-links {
  display: flex;
  height: 100px;
}

.header-links .link-group {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #013c8a; /* Background color for p and span elements */
  padding: 30px;
  justify-content: space-between;
  width: 100%;
}

.header-links .link-group p,
.header-links .link-group span {
  margin: 0;
  color: #ffffff;
}

.header-links span {
  cursor: pointer;
  color: #ffffff;
}

.links {
  display: flex;
  font-size: 18px;
}

.separator {
  font-weight: bold; /* Adjust the font weight as needed */
  margin-left: 15px;
  margin-right: 15px;
  color: #606060;
}

.header-links .icon {
  padding: 0 25px;
  cursor: pointer;
  font-size: 20px;
}

.icon-1 {
  background-color: #1881b8; /* Background color for the first icon */
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}
.icon-2 {
  background-color: #c0c0c0; /* Background color for the second icon */
  color: #007bff;
  display: flex;
  align-items: center;
  padding: 15px;
}

.background-image {
  background-image: url("/public/college2.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 250px; /* Adjust the height as needed */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.312); /* Adjust the opacity as needed */
  z-index: 1;
}

.background-text {
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  z-index: 2;
}

.navigation-bar {
  position: absolute;
  bottom: -20px; /* Adjust this value to control overlap */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.navigation-bar ul {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  list-style: none;
}

.navigation-bar li {
  margin: 2px 70px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

/* 스크롤 탑 버튼 스타일 */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 70px; /* Set width and height to make it a circle */
  height: 70px;
  background-color: #808080;
  color: #ffffff;
  border: none;
  border-radius: 50%; /* Make it a circle */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* Adjust font size as needed */
}

.scroll-to-top:hover {
  background-color: #808080;
}
